.TB {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.submit {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 10px;
}
.search {
  padding: 5px;
  font-size: 16px;
}
