.TB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.submit {
  margin-left: 35% !important;
  background-color: #a1e533;
}
.search {
  margin-left: 380px !important;
  padding: 5px;
  font-size: 16px;
}
