.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 210px;
  width: 100%;
}

.con {
  display: flex;
  align-items: center;
  justify-content: center;
}
btn {
  flex: 1;
}
.icon {
  flex: 1;
  /* font-size: 30px;
    /* margin-right: 10px; */
  margin-left: 30px;
}
