.form{
    color: #fff;
    margin-top: 40px;
    width: 550px;
    margin-left: 20%;
    font-weight: bold;


}
.btn{
   margin-top: 20px;
   width: 300px;
   margin-left: 20%;
    background-color: #9bdc32 !important;
    color: black;
}